.jumbotron {
  background-image: url('/img/mobilityWOD.jpeg') !important;
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
  height:110vh;
  width:100%;
  margin-bottom: 0;
}

.container {
  margin-top: 10em;
}

.btn-secondary {
  font-size: 1.5em;
}